.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #9970d3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Bounce {
  animation: bounceInLeft 1s;
  overflow: hidden;
}

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  to {
    transform: none;
  }
}

.Content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 15% 10px;
  outline: none;
}

p {
  color: rgb(245, 254, 255);
}

.Intro {
  text-align: center;
  color: rgb(245, 254, 255);
  border-radius: 5px;
  font-size: 20px;
}

.Link-carousel {
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
}

.Logo-padding {
padding-left: 20px;
}

.Profile-pic {
  width: 15%;
  border-radius: 15px;
  margin-top: 10%;
}

.Typewriter {
  height: 80px;
  margin-top: 30%;
  font-size: 60px;
  color: rgb(245, 254, 255);
}

.Titles {
  color: rgb(245, 254, 255);
  margin-top: 10px;
  text-align: center;
}

.Vanta-bg {
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
}

.Wiggle {
  animation: wiggle 2s;
  animation-delay: 1s;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}